<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link th:fragment="headcss" th:remove="tag"></link>
<object type="text/javascript" th:fragment="headscript" th:remove="tag">
	<script th:src="@{/js/tpl/root/form.js}"></script>
	<script th:src="@{/js/tpl/form.js}"></script>
	<script th:src="@{/js/tpl/batch.js}"></script>
</object>
</head>

<body th:fragment="body" th:remove="tag">
	<div class="content">
		<h1 class="header" th:text="${batch.name}"></h1>
		<h2 class="description" th:text="${batch.source.text + ' -> ' + batch.target.text}"></h2>
		<h2 class="description" th:text="${batch.description}"></h2>
	</div>
	<div class="ui divider"></div>
	<div class="ui basic buttons">
		<div class="ui button" data-bind="click: showEditBatch">
			<i class="edit icon"></i>Edit Batch
		</div>
		<div class="ui button" data-bind="click: showEditView">
			<i class="edit icon"></i>Edit View
		</div>
		<div class="ui button" data-bind="click: showEditFields">
			<i class="edit icon"></i>Edit Fields
		</div>
		<div class="ui button" data-bind="click: showEditCards">
			<i class="edit icon"></i>Edit Cards
		</div>
	</div>
	<div class="ui divider"></div>
	<div class="ui buttons">
		<div class="ui green button" data-bind="click: showListCards">
			<i class="save icon"></i>View Cards
		</div>
		<div class="or"></div>
		<div class="ui orange button" data-bind="click: showTraining">
			<i class="keyboard icon"></i>Training
		</div>
	</div>
	<div th:replace="forms/batch_form::body" th:remove="tag"></div>
</body>
</html>