<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title th:text="'Copious Vocabulary - '+${title?:'Main Page'}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

<link rel="stylesheet" type="text/css" th:href="@{/semantic/semantic.css}" />

<object th:replace="${tpl}::headcss" th:remove="tag"></object>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script th:src="@{/semantic/semantic.js}"></script>
<script th:src="@{/js/knockout.js}"></script>

<script th:if="${top_menu}" th:src="@{/js/tpl/frame.js}"></script>

<script th:replace="${tpl}::headscript" th:remove="tag"></script>
</head>

<body>
	<div th:if="${top_menu}" id="main" style="height: 100%;">
		<div th:replace="top_menu::menu" th:remove="tag"></div>
		<div th:replace="${tpl}::body" th:remove="tag"></div>
	</div>
	<div th:unless="${top_menu}" th:remove="tag">
		<div th:replace="${tpl}::body" th:remove="tag"></div>
	</div>
</body>
</html>