<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<object th:fragment="headcss" th:remove="tag">
	<style type="text/css" th:text="${view.css}"></style>
</object>
<object type="text/javascript" th:fragment="headscript" th:remove="tag">
	<script type="text/javascript" th:inline="javascript">
		document.vocabularyId=[[${voc.id}]];
		document.trainingId=[[${training.id}]];
		document.firstCardId=[[${firstCardId}]];
		document.cardsSize = [[${training.size}]];
	</script>
	<script th:src="@{/js/tpl/training.js}"></script>
</object>
</head>
<body th:fragment="body" th:remove="tag">
	<div class="ui buttons">
		<a th:href="${'/vocabularies/' + voc.id}" th:text="${'Batck to ' + voc.name}" class="ui button"> <i class="save icon"></i>View Cards
		</a>
	</div>
	<div class="ui divider"></div>
	<div class="ui warning message" th:classappend="${error == null ? 'hidden' : ''}">
		<div class="header">Error</div>
		<p class="info" th:text="${error}"></p>
	</div>
	<div th:replace="${'front/' + view.id}::body"></div>
	<div class="ui divider"></div>
  <form id="check_card_form" class="ui form segment" method="post">
  	<input type="hidden" name="_csrf" th:value="${_csrf.token}">
  	<div class="ui inverted dimmer">
			<div class="ui text loader">Loading</div>
		</div>
		<div class="ui hidden positive message" data-bind="css: {hidden: !errorMessage()}">
			<div class="header" data-bind="text: errorHeader">Success</div>
			<p class="info" data-bind="text: errorMessage">Checked</p>
		</div>
		<div class="required field">
			<label>Answer</label>
			<div class="ui pointing below red label hidden"></div>
			<div class="ui left icon input">
				<input name="answer" type="text" autocomplete="off" /><i class="graduation cap icon"></i>
			</div>
			<div class="ui left icon input">
				<button class="ui green button" name="test" type="submit">Check</button>
				<span data-bind="text: cardIndx() + ' of ' + cardSize()"></span>
				<button class="ui orange button" data-bind="click: showNext">Skip</button>
			</div>
		</div>
  </form>
</body>
</html>
