<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<object th:fragment="headcss" th:remove="tag">
	<style type="text/css" th:text="${view.css}"></style>
</object>
<object type="text/javascript" th:fragment="headscript" th:remove="tag">
	<script th:src="@{/js/tpl/root/form.js}"></script>
	<script th:src="@{/js/tpl/form.js}"></script>
</object>
</head>
<body th:fragment="body" th:remove="tag">
	<div class="ui buttons">
		<a th:href="${'/vocabularies/' + voc.id}" th:text="${'Batck to ' + voc.name}" class="ui button"> <i class="save icon"></i>View Cards
		</a>
	</div>
	<div class="ui divider"></div>
	<div th:replace="${'front/' + view.vocabularyId}::body"></div>
	<div class="ui divider"></div>
	<div th:replace="${'back/' + view.vocabularyId}::body"></div>
</body>
</html>