<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<object th:fragment="headcss" th:remove="tag">
	<object th:replace="forms/voc_form::css" th:remove="tag"></object>
	<object th:replace="forms/import_voc::css" th:remove="tag"></object>
</object>
<object type="text/javascript" th:fragment="headscript" th:remove="tag">
	<script type="text/javascript" th:inline="javascript">
		document.vocabularyId=[[${voc.id}]];
		document.vocabularyShared=[[${voc.shared}]];
	</script>
	<script th:src="@{/js/tpl/root/form.js}"></script>
	<script th:src="@{/js/tpl/form.js}"></script>
	<script th:src="@{/js/tpl/voc.js}"></script>
</object>
</head>

<body th:fragment="body" th:remove="tag">
	<div class="ui warning message" th:classappend="${error == null ? 'hidden' : ''}">
		<div class="header">Error</div>
		<p class="info" th:text="${error}"></p>
	</div>
	<div class="ui vertically divided grid">
		<div class="sexteen column row">
			<div class="fourteen wide column">
				<h1 class="header" th:text="${voc.name}"></h1>
				<h2 class="description" th:text="${voc.sourceName + ' -> ' + voc.targetName}"></h2>
				<h2 class="description" th:text="${voc.description}"></h2>
			</div>
			<div class="two wide column right aligned">
				<div class="ui small icon basic button delete" data-bind="click: deleteItem">
					<i class="trash alternate outline icon"></i>
				</div>
			</div>
		</div>
		
	</div>
	<div class="ui divider"></div>
	<div class="ui vertically divided grid">
		<div class="sexteen column row">
			<div class="ten wide column">
				<div class="ui basic buttons">
					<div class="ui button" data-bind="click: showEditVoc">
						<i class="edit icon"></i>Edit Settings
					</div>
					<a class="ui button" th:href="'/vocabularies/' + ${voc.id} + '/edit_view'">
						<i class="edit icon"></i>Edit View
					</a>
					<a class="ui button" th:href="'/vocabularies/' + ${voc.id} + '/edit_fields'">
						<i class="edit icon"></i>Edit Fields
					</a>
					<a class="ui button" th:href="'/vocabularies/' + ${voc.id} + '/edit_cards'">
						<i class="edit icon"></i>Edit Cards
					</a>
				</div>
			</div>
			<div class="six wide column right aligned">
				<div class="ui basic buttons">
					<a class="ui button" th:href="'/v1/api/vocabularies/' + ${voc.id} + '/_export'">
							<i class="download icon"></i>Export
					</a>
					<div class="ui button" data-bind="click: showImport">
						<i class="upload icon"></i>Import
					</div>
				</div>
				<div class="ui basic buttons">
					<button class="ui toggle button" 
						data-bind="text: sharedText, click: share, css: {active: shared}">Share</button>
				</div>
			</div>
		</div>
	</div>
	<div class="ui divider"></div>
	<div class="ui buttons">
		<a th:href="'/views/' + ${voc.id}" class="ui green button">
			<i class="save icon"></i>Show Cards
		</a>
		<div class="or"></div>
		<a class="ui orange button" th:href="${'/training/' + voc.id}">
			<i class="keyboard icon"></i>Training
		</a>
	</div>
	<div th:replace="forms/voc_form::body" th:remove="tag"></div>
	<div th:replace="forms/import_voc::body" th:remove="tag"></div>
	<div class="ui basic yesno modal">
  	<div class="header" th:text="'Do you want to delete ' + ${voc.name} + '?'"></div>
  	<div class="actions">
	    <div class="ui approve green button">Delete</div>
	    <div class="ui cancel button">Cancel</div>
  	</div>
	</div>
</body>
</html>