<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link th:fragment="headcss" th:remove="tag"></link>
<object type="text/javascript" th:fragment="headscript" th:remove="tag">
	<script type="text/javascript" th:inline="javascript">
		document.vocabularyId=[[${voc.id}]];
	</script>
	<script th:src="@{/js/tpl/root/form.js}"></script>
	<script th:src="@{/js/tpl/form.js}"></script>
	<script th:src="@{/js/tpl/voc.js}"></script>
</object>
</head>

<body th:fragment="body" th:remove="tag">
	<div class="content">
		<h1 class="header" th:text="${voc.name}"></h1>
		<h2 class="description" th:text="${voc.source.text + ' -> ' + voc.target.text}"></h2>
		<h2 class="description" th:text="${voc.description}"></h2>
	</div>
	<div class="ui divider"></div>
	<div class="ui basic buttons">
		<div class="ui button" data-bind="click: showEditVoc">
			<i class="edit icon"></i>Edit Settings
		</div>
		<div class="ui button">
			<a th:href="'/vocabularies/' + ${voc.id} + '/edit_view'">
				<i class="edit icon"></i>Edit View
			</a>
		</div>
		<div class="ui button" data-bind="click: showEditFields">
			<i class="edit icon"></i>Edit Fields
		</div>
		<div class="ui button">
			<a th:href="'/vocabularies/' + ${voc.id} + '/edit_cards'">
				<i class="edit icon"></i>Edit Cards
			</a>
		</div>
	</div>
	<div class="ui divider"></div>
	<div class="ui buttons">
		<a th:href="'/views/' + ${voc.id}" class="ui green button">
			<i class="save icon"></i>Show Cards
		</a>
		<div class="or"></div>
		<div class="ui orange button" data-bind="click: showTraining">
			<i class="keyboard icon"></i>Training
		</div>
	</div>
	<div th:replace="forms/voc_form::body" th:remove="tag"></div>
</body>
</html>