<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link th:fragment="headcss" th:remove="tag"></link>
<object type="text/javascript" th:fragment="headscript" th:remove="tag">
	<script th:src="@{/js/tpl/root/form.js}"></script>
	<script th:src="@{/js/tpl/form.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		document.vocabularyId=[[${voc.id}]];
		document.source=[[${voc.sourceId}]];
		document.target=[[${voc.targetId}]];
		document.cardFields=[[${fields}]];
	</script>
	<script th:src="@{/js/tpl/cards.js}"></script>
</object>
</head>

<body th:fragment="body" th:remove="tag">
	<a class="ui button" th:href="${'/vocabularies/' + voc.id}" th:text="${'Back to ' + voc.name}"> <i
		class="save icon"></i>Back to
	</a>
	<div class="ui divider"></div>
	<div class="ui top attached button" tabindex="0" data-bind="click: showItemForm">
		<i class="add icon"></i>Add Card
	</div>
	<div class="ui attached segment">
		<table class="ui celled table">
			<thead>
				<tr>
					<th></th>
					<th:block th:each="field: ${fields}">
						<th th:text="${field.name + ' (' + field.type + ')'}"></th>
					</th:block>
					<th></th>
				</tr>
			</thead>
			<tbody data-bind="foreach: items">
				<tr>
					<td>
						<div class="ui icon buttons">
						<div class="ui small icon basic button edit" data-bind="click: $parent.showEditItemForm">
							<i class="edit icon"></i>
						</div>
						</div>
					</td>
					<th:block th:each="field: ${fields}">
						<td th:attr="data-bind=${'text: ' + field.name}"></td>
					</th:block>
					<td>
						<div class="ui icon buttons">
						<div class="ui small icon basic button delete" data-bind="click: $parent.deleteItem">
							<i class="trash alternate outline icon"></i>
						</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="forms/card_form::body" th:remove="tag"></div>
</body>
</html>