<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link th:fragment="headcss" th:remove="tag"></link>
<object type="text/javascript" th:fragment="headscript" th:remove="tag">
	<script th:src="@{/js/tpl/root/form.js}"></script>
	<script th:src="@{/js/tpl/form.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		document.vocabularyId=[[${voc.id}]];
		document.source=[[${voc.sourceId}]];
		document.target=[[${voc.targetId}]];
	</script>
	<script th:src="@{/js/tpl/fields.js}"></script>
</object>
</head>

<body th:fragment="body" th:remove="tag">
	<a class="ui button" th:href="${'/vocabularies/' + voc.id}" th:text="${'Back to ' + voc.name}"> <i
			class="save icon"></i>Back to
	</a>
	<div class="ui divider"></div>
	<div class="ui top attached button" tabindex="0" data-bind="click: showItemForm">
		<i class="add icon"></i>Add Field
	</div>
	<div class="ui attached segment">
		<div class="ui vertically divided grid" data-bind="foreach: items">
				<div class="sexteen column row">
						<div class="fourteen wide column">
							<a class="header" data-bind="text: name"></a>
							<div class="description" data-bind="text: type"></div>
						</div>
						<div class="two wide column right aligned">
							<div class="ui small icon basic button delete" data-bind="click: $parent.deleteItem, visible: !system()">
								<i class="trash alternate outline icon"></i>
							</div>
						</div>
				</div>
		</div>
		<div data-bind="css: {hidden: !errorMessage()}" class="ui hidden error message">
			<div data-bind="text: errorHeader" class="header"></div>
			<p data-bind="text: errorMessage" class="info"></p>
		</div>
	</div>
	<div th:replace="forms/field_form::body" th:remove="tag"></div>
</body>
</html>