<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link th:fragment="css" th:remove="tag" />
<script type="text/javascript" th:fragment="script" th:remove="tag"></script>
</head>

<body th:fragment="body" th:remove="tag">
	<div id="add_card" class="ui modal">
		<i class="close icon"></i>
		<div class="header" data-bind="text: (itemForm.id()) ? 'Edit Card' : 'Add New Card'"></div>
		<div class="content">
			<form id="add_card_form" class="ui form segment" method="post" action="/v1/api/cards">
				<input th:value="${voc.id}" name="vocabularyId" type="hidden" />
				<input name="id" data-bind="value: itemForm.id" type="hidden" />
				<div class="ui inverted dimmer">
					<div class="ui text loader">Loading</div>
				</div>
				<div class="ui hidden positive message">
					<div class="header">Success</div>
					<p class="info">Card has been saved</p>
				</div>

				<div class="ui vertically devided grid">
					<div class="sexteen column row">
						<div class="eight wide column">
							<th:block th:each="field,iterStat: ${fields}">
								<div th:class="${#strings.equals(field.type, 'ANSWER') || #strings.equals(field.name, 'word')} ? 'field required' : 'field'">
									<label th:text="${field.name} + ' (' + ${field.type} + ')'">Name</label>
									<div class="ui pointing below red label hidden"></div>
									<textarea class="prompt" th:if="${#strings.equals(field.type, 'TEXT')} or ${#strings.equals(field.type, 'MARKUP')}" th:name="${field.name}" th:attr="'data-bind'=${'text: itemForm.' + field.name}"></textarea>
									<input class="prompt" th:if="${#strings.equals(field.type, 'STRING')} or ${#strings.equals(field.type, 'ANSWER')}" th:name="${field.name}" type="text" th:attr="'data-bind'=${'value: itemForm.' + field.name}" />
								</div>
							</th:block>
						</div>
						<div class="eight wide column">
							<div class="ui list" data-bind="foreach: suggests">
								<div class="item">
									<div class="content">
      							<div class="header" data-bind="text: group"></div>
      							<div data-bind="foreach: items">
      								<div class="description">
      									<a data-bind="text: value, click: $root.selectSuggest"></a>
      								</div>
										</div>
      						</div>
								</div>
							</div>
						</div>
					</div>
					<div class="sexteen column row">
						<div class="sexteen wide column">
							<button class="ui primary button" type="submit">Save</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>