<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link th:fragment="css" th:remove="tag" />
<script type="text/javascript" th:fragment="script" th:remove="tag"></script>
</head>

<body th:fragment="body" th:remove="tag">
	<div id="add_card" class="ui modal">
		<i class="close icon"></i>
		<div class="header" data-bind="text: (itemForm.id()) ? 'Edit Card' : 'Add New Card'"></div>
		<div class="content">
			<form id="add_card_form" class="ui form segment" method="post" action="/v1/api/cards">
				<div class="ui inverted dimmer">
					<div class="ui text loader">Loading</div>
				</div>
				<div class="ui hidden positive message">
					<div class="header">Success</div>
					<p class="info">Card has been saved</p>
				</div>

				<div class="required field">
					<label>Name</label>
					<div class="ui pointing below red label hidden"></div>
					<div class="ui left icon input">
						<input name="name" type="text" data-bind="value: itemForm.name" /><i class="user icon"></i>
					</div>
				</div>
				<div class="field">
					<label>Description</label>
					<div class="ui pointing below red label hidden"></div>
					<div class="ui input">
						<input name="description" data-bind="text: itemForm.description" />
					</div>
				</div>

				<button class="ui primary button" type="submit">Save</button>
			</form>
		</div>
	</div>
</body>
</html>