<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link th:fragment="css" th:remove="tag" />
<script type="text/javascript" th:fragment="script" th:remove="tag"></script>
</head>

<body th:fragment="body" th:remove="tag">
	<div id="add_card" class="ui modal">
		<i class="close icon"></i>
		<div class="header" data-bind="text: (itemForm.id()) ? 'Edit Card' : 'Add New Card'"></div>
		<div class="content">
			<form id="add_card_form" class="ui form segment" method="post" action="/v1/api/cards">
				<input th:value="${voc.id}" name="vocabularyId" type="hidden">
				<div class="ui inverted dimmer">
					<div class="ui text loader">Loading</div>
				</div>
				<div class="ui hidden positive message">
					<div class="header">Success</div>
					<p class="info">Card has been saved</p>
				</div>

				<th:block th:each="field: ${fields}">
					<div th:class="${#strings.equals(field.type, 'ANSWER')} ? 'field required' : 'field'">
						<label th:text="${field.name} + ' (' + ${field.type} + ')'">Name</label>
						<div class="ui pointing below red label hidden"></div>
						<textarea th:if="${#strings.equals(field.type, 'TEXT')} or ${#strings.equals(field.type, 'MARKUP')}" th:name="${field.name}" data-bind="text: itemForm.name"></textarea>
						<input th:if="${#strings.equals(field.type, 'STRING')} or ${#strings.equals(field.type, 'ANSWER')}" th:name="${field.name}" type="text" data-bind="value: itemForm.name" />
					</div>
				</th:block>

				<button class="ui primary button" type="submit">Save</button>
			</form>
		</div>
	</div>
</body>
</html>