<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link th:fragment="css" th:remove="tag" />
<script type="text/javascript" th:fragment="script" th:remove="tag"></script>
</head>

<body th:fragment="body" th:remove="tag">
	<div id="add_voc" class="ui modal">
		<i class="close icon"></i>
		<div class="header" data-bind="text: (itemForm.id()) ? 'Edit Vocabulary' : 'Add New Vocabulary'"></div>
		<div class="content">
			<form id="add_voc_form" class="ui form segment" method="post" action="/v1/api/vocabularies">
				<div class="ui inverted dimmer">
					<div class="ui text loader">Loading</div>
				</div>
				<div class="ui hidden positive message">
					<div class="header">Success</div>
					<p class="info">Vocabulary has been saved</p>
				</div>

				<div class="required field">
					<label>Name</label>
					<div class="ui pointing below red label hidden"></div>
					<div class="ui left icon input">
						<input name="name" type="text" data-bind="value: itemForm.name" /><i class="user icon"></i>
					</div>
				</div>
				<div class="field">
					<label>Description</label>
					<div class="ui pointing below red label hidden"></div>
					<div class="ui input">
						<input name="description" data-bind="value: itemForm.description" />
					</div>
				</div>
				<div class="required field">
					<label>Source Language</label>
					<div class="ui pointing below red label hidden"></div>
					<div class="ui search selection dropdown languages">
						<input type="hidden" name="sourceId" data-bind="value: itemForm.sourceId" />
						<i class="dropdown icon"></i> <input type="text" class="search"
							data-bind="value: itemForm.sourceName" />
						<div class="default text" data-bind="text: itemForm.sourceName() ? '' : 'Select Source Language...'">Select Source Language...</div>
					</div>
				</div>
				<div class="required field">
					<label>Target Language</label>
					<div class="ui pointing below red label hidden"></div>
					<div class="ui search selection dropdown languages">
						<input type="hidden" name="targetId" data-bind="value: itemForm.targetId" />
						<i class="dropdown icon"></i> <input type="text" class="search"
							data-bind="value: itemForm.targetName" />
						<div class="default text" data-bind="text: itemForm.targetName() ? '' : 'Select Target Language...'">Select Target Language...</div>
					</div>
				</div>

				<button class="ui primary button" type="submit">Save</button>
			</form>
		</div>
	</div>
</body>
</html>