<!DOCTYPE html>
<html>
<head>
<title th:text="'Copious Vovabulary - '+${title?:'404 Page not found'}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" th:href="@{/semantic/semantic.css}">

<style type="text/css">
body {
	background-color: #DADADA;
}

body>.grid {
	height: 100%;
}

.column {
	max-width: 720px;
}
</style>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script th:src="@{/semantic/semantic.js}"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('.ui.search').search({
			apiSettings : {
				url : '/page/search/?q={query}'
			},
			type : 'category'
		});

	});
</script>
</head>
<body>
	<div class="ui middle aligned center aligned grid">
		<div class="column">
			<div class="ui teal image header">
				<div class="ui error message">
					<div class="header">These Are Not the Droids You Are Looking For!</div>
					<p>404 Page not found</p>
					<div class="item">
						<div class="ui action left icon input">
							<div class="ui fluid category search">
								<div class="ui icon input">
									<input class="prompt" placeholder="Search For Droids..." type="text" /> <i class="search icon"></i>
								</div>
								<div class="results"></div>
							</div>
						</div>
					</div>
					<div class="ui divider"></div>
					<div class="item">
						<a href="/">Go Home</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>